#__pycache__/
OLD - valutazione con dati psicologici/classificazione/dataset/
OLD - valutazione con dati psicologici/clusterizzazione/documentazione/
OLD - valutazione con dati psicologici/clusterizzazione/dataset/
OLD - valutazione con dati psicologici/dockerizzazione/
